.contact-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
}
.inside-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    text-align: start;
}

.first-last-name-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-img{
    width: 40%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.name-container{
    display: flex;
    flex-direction: column;
}

.btn-submit{
    align-self: flex-end;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .inside-contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-img{
        width: 75%;
        border-radius: 10px;
    }
    .name-container{
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .form-container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-container{
        padding: 30px;
    }
}



input, textarea{
    border-radius: 4px;
    border: solid, 1px;
}