.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.first-last-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(0,123,255,0.4);
}

.btn-submit {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 12px;
}

.btn-submit:hover {
    background-color: #0056b3;
}
.inside-contact-container{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 25px; 
}
.contact-container{
    margin-bottom: 20px; 
    padding: 100px; 
    padding-bottom: 0px; 
    padding-top: 0px; 
    text-align: center; 
}
.contact-img{ 
    width: 40%; 
    margin-bottom: 10px; 
    border-radius: 10px; 
}

.g-recaptcha {
  
  transform: scale(0.8);
  transform-origin: center;

}

@media screen and (max-width: 768px) {
    .first-last-name-container {
        flex-direction: row;
        gap: 10px;
    }
    .inside-contact-container{ 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        align-items: center; 
        margin-top: 25px; 
    }
    .contact-img{
        width: 75%;
        border-radius: 10px;
    }
    .name-container{
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .form-container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-container{
        padding: 0px;
    }
}
